@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Orbitron, Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

.personnel .sub-details {
  max-height: 0;
  overflow: hidden;
  transition: all 0.34s ease;
}

.personnel.active .sub-details {
  max-height: 500px;
}

.font-roboto {
  font-family: Roboto;
}

/* .leaflet-marker-icon {
  filter: hue-rotate(360deg) invert(1);
} */

.leaflet-popup-content-wrapper {
  border-radius: 0 !important;
  padding: 0 !important;
}

.leaflet-popup-content {
  position: relative;
  margin: 0 !important;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 32px;
  padding-bottom: 16px;
  width: max-content !important;
  background-color: #263039;
  color: white;
  font-family: roboto !important;
}

.leaflet-popup-tip {
  background: #263039 !important;
}

.leaflet-popup-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 24px;
  background-color: black;
}

.leaflet-popup-content p {
  margin: 0 !important;
}

.font-primary {
  font-family: Orbitron;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}